#pokemon {
    display: inline-block;
    vertical-align: top;
}
#data {
    display: inline-block;
    vertical-align: top;
}
#pkmnselectdiv {
    position: absolute;
    left: 160px;
    top: 370px;   
}
#cpdiv {
    position: absolute;
    left: 170px;
    top: 25px;
}
#hpdiv {
    position: absolute;
    left: 190px;
    top: 440px;
}
#dustdiv{
    position: absolute;
    left: 265px;
    top: 677px;
} 
#pkmnselectbox {
    font-size: 25px;
    height: 50%;
    width: 100%;
}
#cpbox {
    font-size: 25px;
    height: 50%;
    width: 100%;
}
#hpbox {
    font-size: 25px;
    height: 50%;
    width: 100%;
}
#dustbox {
    font-size: 25px;
    height: 50%;
    width: 100%;
}
.data {
    text-align:right;
}
.canvasjs-chart-toolbar> button:first-child{
    display: none !important;
}
#container {
    position:fixed;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding: 25px;
}
#databox {
    height: 90%;
    width: 95%;
    position: relative;
}
#info {
    height: 100%;
    width: 33%;
    float: left;
}
#base {
    display: flex;
    justify-content: center;
    height: 33%;
    width: 33%;
    float: left;
}
#basecenter {
    align-self:center;
}
#base table{
    margin: 0 auto;
}
#basechart {
    height: 33%;
    width: 33%;
    float: left;
}
#name {
    height: 10%;
    width: 40%;
    float: left;
    text-align:center;
}
#formname {
    height: 10%;
    width: 25%;
    float: left;
    text-align:center;
}
#formsubmit {
    height: 10%;
    width: 15%;
    float: left;
    text-align:center;
}
#formsubmitbtn {
    font-size:25px;
    height: 50%;
    width: 100%;
}
#cphp {
    height: 10%;
    width: 20%;
    float: left;
    text-align: center;
}
#pkmnimg {
    height: 40%;
    width: 100%;
    float: left;
    text-align:center;
}
#stats {
    height: 15%;
    width: 33.334%;
    float: left;
    position: relative;
    text-align: center;
    background-color: #F5F5DC;
}
#catch {
    height: 15%;
    width: 50%;
    float:left;
    position: relative;
    text-align:center;
    background-color: #F5F5DC;
}
#calculate {
    height: 10%;
    width: 100%;
    float: left;
    text-align: center;
    background-color: #F5F5DC;
}
#ivpct {
    height: 10%;
    width: 100%;
    float: left;
    text-align: center;
    background-color: #F5F5DC;
}
#statuslabel {
    height: 25%;
    width: 100%;
    bottom: 0;
    position: absolute;
}
#statusvalue {
    height: 75%;
    width: 100%;
    top: 0;
    position:absolute;
}
#boxwrapper{
    position:fixed;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    overflow: scroll;
    background-color: #99ebff;
}
#box {
    width: 60%;
    margin: 0 auto;
    padding-top: 2cm;
    background-color: #F5F5DC;
}
#inputbox {
    height: 5%;
    width: 100%;
    float: left;
}
#forminputbox {
    width: 100%;
    float: left;
}
#formulas {
    display: inline-block
}
#image3 {
    max-width:100%;
    max-height:100%;
}
#indented {
    padding-left: 1cm;
}
