#pokemon {
    display: inline-block;
    vertical-align: top;
}
#data {
    display: inline-block;
    vertical-align: top;
}
#pkmnselectdiv {
    position: absolute;
    left: 160px;
    top: 370px;   
}
#cpdiv {
    position: absolute;
    left: 170px;
    top: 25px;
}
#hpdiv {
    position: absolute;
    left: 190px;
    top: 440px;
}
#dustdiv{
    position: absolute;
    left: 265px;
    top: 677px;
} 
#pkmnselectbox {
    font-size: 25px;
    height: 45px;
    width: 200px;
}
#cpbox {
    font-size: 25px;
    height: 45px;
    width: 160px;
}
#hpbox {
    width: 125px;
    height: 25px;
}
#dustbox {
    height: 35px;
}
.data {
    text-align:right;
}
.canvasjs-chart-toolbar> button:first-child{
    display: none !important;
}
#container {
    position:fixed;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    border: 1px solid black;
    overflow: hidden;
    padding: 25px;
}
#databox {
    height: 90%;
    width: 95%;
    border: 1px solid brown;
}
#info {
    height: 100%;
    width: 33%;
    float: left;
    border: 1px solid red;
}
#base {
    height: 33%;
    width: 33%;
    float: left;
    border: 1px solid blue;
}
#basechart {
    height: 33%;
    width: 33%;
    float: left;
    border: 1px solid green;
}
