#pokemon {
    display: inline-block;
    vertical-align: top;
}
#data {
    display: inline-block;
    vertical-align: top;
}
#pkmnselectdiv {
    position: absolute;
    left: 160px;
    top: 370px;   
}
#cpdiv {
    position: absolute;
    left: 170px;
    top: 25px;
}
#hpdiv {
    position: absolute;
    left: 190px;
    top: 440px;
}
#dustdiv{
    position: absolute;
    left: 265px;
    top: 677px;
} 
#pkmnselectbox {
    font-size: 25px;
    height: 60%;
    width: 100%;
}
#cpbox {
    font-size: 25px;
    height: 60%;
    width: 100%;
}
#hpbox {
    font-size: 25px;
    height: 60%;
    width: 100%;
}
#dustbox {
    font-size: 25px;
    height: 60%;
    width: 100%;
}
.data {
    text-align:right;
}
.canvasjs-chart-toolbar> button:first-child{
    display: none !important;
}
#container {
    position:fixed;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding: 25px;
    background-color: #DADFE1;
}
#databox {
    height: 90%;
    width: 95%;
    position: relative;
}
#info {
    height: 99%;
    width: 33%;
    float: left;
    background-size: 100%;
    background-position: 0 40%;
}
#base {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    height: 33.33%;
    width: 33.33%;
    float: left;
    background-color: #FDF9E5;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}
#basebottom {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    height: 33.334%;
    width: 33.334%;
    float: left;
    background-color: #FDF9E5;
    border-left: 1px solid black;
}
#basecenter {
    align-self:center;
}
#base table{
    margin: 0 auto;
}
#basechart {
    height: 33.33%;
    box-sizing: border-box;
    width: 33.33%;
    float: left;
    background-color: #FDF9E5;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}
#basechartbottom {
    box-sizing: border-box;
    height: 33.334%;
    width: 33.334%;
    float: left;
    background-color: #FDF9E5;
    border-left: 1px solid black;
}
#name {
    background-color: #FDF9E5;
    position: relative;
    height: 8%;
    width: 40%;
    float: left;
    text-align:center;
}
#formname {
    position: relative;
    height: 8%;
    width: 25%;
    float: left;
    text-align:center;
}
#formsubmit {
    height: 10%;
    width: 15%;
    float: left;
    text-align:center;
}
#formsubmitbtn {
    font-size:25px;
    height: 50%;
    width: 100%;
}
#cphp {
    position: relative;
    background-color: #FDF9E5;
    height: 8%;
    width: 20%;
    float: left;
    text-align: center;
}
#pkmnimg {
    position: relative;
    height: 45%;
    width: 100%;
    float: left;
    text-align:center;
}
#stats {
    height: 15%;
    width: 33.334%;
    float: left;
    position: relative;
    text-align: center;
    background-color: #FDF9E5;
}
#statsmiddle {
    height: 15%;
    box-sizing: border-box;
    width: 33.334%;
    float: left;
    position: relative;
    text-align: center;
    background-color: #FDF9E5;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
#catch {
    height: 15%;
    width: 50%;
    box-sizing: border-box;
    float:left;
    position: relative;
    text-align:center;
    background-color: #FDF9E5;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
#catchright {
    height: 15%;
    box-sizing: border-box;
    width: 50%;
    float:left;
    position: relative;
    text-align:center;
    background-color: #FDF9E5;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}
#calculate {
    height: 7%;
    width: 100%;
    float: left;
    text-align: center;
    background-color: #FDF9E5;
}
#ivpct {
    height: 10%;
    box-sizing: border-box;
    width: 100%;
    float: left;
    text-align: center;
    background-color: #FDF9E5;
    border-bottom: 1px solid black;
}
#statuslabel {
    height: 25%;
    width: 100%;
    bottom: 0;
    position: absolute;
}
#statusvalue {
    height: 75%;
    width: 100%;
    top: 0;
    position:absolute;
    padding-top: 0.5cm;
}
#boxwrapper{
    position:fixed;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    overflow: scroll;
    background-color: #DADFE1;
}
#box {
    width: 60%;
    margin: 0 auto;
    padding-top: 2cm;
    background-color: #FDF9E5;
}
#inputbox {
    height: 5%;
    width: 100%;
    float: left;
}
#forminputbox {
    width: 100%;
    float: left;
}
#formulas {
    display: inline-block
}
#image3 {
    max-width:100%;
    max-height:100%;
}
#indented {
    padding-left: 1cm;
}
#formlabel {
    height: 40%;
    width: 100%;
    bottom: 0;
    position: absolute;
}
#pkmngif {
    transform: scale(2,2);
    bottom: 20%;
    left: 45%;
    position: absolute;
}
