<html>
    <head>
        <link rel=stylesheet type=text/css href="http://chriskoh.io/static/style.css">
        <script type="text/javascript">
        window.onload = function() {
            {{chart}}
            {{chart2}}
            {{chart3}}
            var parentElement = document.getElementsByClassName('canvasjs-chart-toolbar');
            var childElement = document.getElementsByTagName('button');
            for(var i=0; i < childElement.length; i++){

                if(childElement[i].getAttribute('state') === 'pan'){
                    childElement[i].click();
                }
            }
        } 
        </script>
        <script type="text/javascript" src="http://canvasjs.com/assets/script/canvasjs.min.js">
        </script>
        <title>Pokemon Go</title>
    </head>
    <body>
        <div id="container">
            <div id="databox">
                <form method="post" action="{{ url_for("cp") }}" id="pkmnSelect" style="position: relative;">
                    <div id="info" style="background-image: url('http://chriskoh.io/images/{{pokemon["type1"]}}.png');">
                        <div id="name">
                            <input list="test" id="pkmnselectbox" name="nameph" value="{{pokemon['name']}}" autofocus>

                                <datalist id="test">
                                    {{pkmndatalist}}
                                </datalist>
                            <div id="formlabel">
                                Name
                            </div>
                        </div>
                        <div id="cphp">
                            <input id="cpbox" type="number" name="aCP" value="{{pokemon['cp']}}">
                            <div id="formlabel">
                                CP
                            </div>
                        </div>
                        <div id="cphp">
                            <input id="hpbox" type="number" name="HP" value="{{pokemon['hp']}}">
                            <div id="formlabel">
                                HP
                            </div>
                        </div>
                        <div id="cphp">
                            <input id="dustbox" type="number" name="DUST" value="{{pokemon['dust']}}">
                            <div id="formlabel">
                                Dust
                            </div>
                        </div>
                        <div id="pkmnimg">
                            <img id="pkmngif" src="http://www.pkparaiso.com/imagenes/xy/sprites/animados/{{pokemon["lname"]}}.gif" />
                        </div>
                        <div id="ivpct">
                            <h1>Initial Values - {{stats["pctPerfect"]}}% Perfect</h1>
                        </div>
                        <div id="stats">
                            <div id="statusValue">
                                <h1>{{pokemon["baseAttack"]}}</h1>
                            </div>
                            <div id="statuslabel">
                                Attack
                            </div>
                        </div>
                        <div id="statsmiddle">
                            <div id="statusValue">
                                <h1>{{pokemon["baseDefense"]}}</h1>
                            </div>
                            <div id="statuslabel">
                                Defense
                            </div>
                        </div>
                        <div id="stats">
                            <div id="statusValue">
                                <h1>{{pokemon["baseStamina"]}}</h1>
                            </div>
                            <div id="statuslabel">
                                Stamina
                            </div>
                        </div>
                        <div id="catch">
                            <div id="statusValue">
                                <h1>{{pokemon["rateCapture"]}}%</h1>
                            </div>
                            <div id="statuslabel">
                                Catch Rate
                            </div>
                        </div>
                        <div id="catchright">
                            <div id="statusValue">
                                <h1>{{pokemon["rateFlee"]}}%</h1>
                            </div>
                            <div id="statuslabel">
                                Flee Rate
                            </div>
                        </div>
                        <div id="calculate">
                            <input type="submit" >
                        </div>
                </form>
                </div>
                <div id="base">
                    <div id="basecenter">
                        <table>
                            <tr>
                                <th>{{pokemon["name"]}}</th>
                                <th>CP</th>
                                <th>HP {{evname}}</th>
                                <th>Attack</th>
                                <th>Defense</th>
                                <th>Stamina</th>
                                <th>Perfection</th>
                            </tr>
                            {{ivSets["cpSets"]}}
                        </table>
                    </div>
                </div>
                <div id="basechart">
                    <div id="chart0" style="height: 99%; width: 100%;"></div>
                </div>
                <div id="base">
                    <div id="basecenter">
                        {{ev1}}
                        {{nochart1}}
                    </div>
                </div>
                <div id="base">
                    <div id="basecenter">
                        {{nochart1}}
                    </div>
                    {{printchart1}}
                </div>
                <div id="basebottom">
                    <div id="basecenter">
                        {{ev2}}
                        {{nochart2}}
                    </div>
                </div>
                <div id="basebottom">
                    <div id="basecenter">
                        {{nochart2}} 
                    </div>
                    {{printchart2}}
                </div>
            </div>
        </div>
    </body>
</html>
