<html>
    <head>
    </head>
    <body>
        <p>{{pokemon["name"]}} ({{pokemon["id"]}})</p>
        <p>Type: {{pokemon["type1"]}}/{{pokemon["type2"]}}</p>
        <p>Candy to Evolve: {{pokemon["candyToEvolve"]}}</p>
        <p>Capture Rate: {{pokemon["rateCapture"]}}%</p>
        <p>Flee Rate: {{pokemon["rateFlee"]}}%</p>
        <hr>
        <h2>Base Stats</h2>
        <p>Base Stamina: {{pokemon["baseStamina"]}}</p>
        <p>Base Attack: {{pokemon["baseAttack"]}}</p>
        <p>Base Defense: {{pokemon["baseDefense"]}}</p>
        <hr>
        <h2>Initial Values</h2>
        <p>Possible Pokemon Levels: {{stats["levels"]}}</p>
        <p>Possible HP IV(s): {{stats["possible"]}}</p>
        <p>Possible IV(s) [level, Atk IV, Def IV, Sta IV, % perfect]: {{stats["possibleSET"]}}</p>
        <p>Best IV Set: {{stats["possibleBEST"]}}</p>
        <p>Worst IV Set: {{stats["possibleWORST"]}}</p>
        <p>Avg. IV Perfection: {{stats["pctPerfect"]}}</p>
    </body>
</html>
