<html>
    <head>
        <link rel=stylesheet type=text/css href="http://chriskoh.io/static/style.css">
        <script type="text/javascript">
        window.onload = function() {
            {{chart}}
            {{chart2}}
            {{chart3}}
            var parentElement = document.getElementsByClassName('canvasjs-chart-toolbar');
            var childElement = document.getElementsByTagName('button');
            if(childElement[0].getAttribute('state') === 'pan'){
                childElement[0].click();
            }

        } 
        </script>
        <script type="text/javascript" src="http://canvasjs.com/assets/script/canvasjs.min.js">
        </script>
        <title>Pokemon Go</title>
    </head>
    <body>
        <div id="container">
            <div id="databox">
                <form method="post" action="{{ url_for("cp") }}" id="pkmnSelect" style="position: relative;">
                    <div id="info">
                        <div id="name">
                            <select id="pkmnselectbox" name="pokemonSelect" autofocus>
                                {{pkmnSelect}}
                            </select>
                        </div>
                        <div id="cphp">
                            <input id="cpbox" type="number" name="aCP" placeholder="CP">
                        </div>
                        <div id="cphp">
                            <input id="hpbox" type="number" name="HP" placeholder="HP">
                        </div>
                        <div id="cphp">
                            <input id="dustbox" type="number" name="DUST" placeholder="Dust">
                        </div>
                        <div id="pkmnimg">
                            **Individual Pokemon .gif**
                        </div>
                        <div id="ivpct">
                            <h1>Initial Values - {{stats["pctPerfect"]}}% Perfect</h1>
                        </div>
                        <div id="stats">
                            <div id="statusValue">
                                <h1>{{pokemon["baseAttack"]}}</h1>
                            </div>
                            <div id="statuslabel">
                                Attack
                            </div>
                        </div>
                        <div id="stats">
                            <div id="statusValue">
                                <h1>{{pokemon["baseDefense"]}}</h1>
                            </div>
                            <div id="statuslabel">
                                Defense
                            </div>
                        </div>
                        <div id="stats">
                            <div id="statusValue">
                                <h1>{{pokemon["baseStamina"]}}</h1>
                            </div>
                            <div id="statuslabel">
                                Stamina
                            </div>
                        </div>
                        <div id="catch">
                            <div id="statusValue">
                                <h1>{{pokemon["rateCapture"]}}%</h1>
                            </div>
                            <div id="statuslabel">
                                Catch Rate
                            </div>
                        </div>
                        <div id="catch">
                            <div id="statusValue">
                                <h1>{{pokemon["rateFlee"]}}%</h1>
                            </div>
                            <div id="statuslabel">
                                Flee Rate
                            </div>
                        </div>
                        <div id="calculate">
                            <input type="submit" >
                        </div>
                </form>
                </div>
                <div id="base">
                    <div id="basecenter">
                        <table>
                            <tr>
                                <th>{{pokemon["name"]}}</th>
                                <th>CP</th>
                                <th>HP {{evname}}</th>
                                <th>Attack</th>
                                <th>Defense</th>
                                <th>Stamina</th>
                                <th>Perfection</th>
                            </tr>
                            {{ivSets["cpSets"]}}
                        </table>
                    </div>
                </div>
                <div id="basechart">
                    <div id="chart0" style="height: 100%; width: 100%;"></div>
                </div>
                <div id="base">
                    <div id="basecenter">
                        {{ev1}}
                    </div>
                </div>
                <div id="basechart">
                    <div id="chart1" style="height: 100%; width: 100%;"></div>
                </div>
                <div id="base">
                    <div id="basecenter">
                        {{ev2}}
                    </div>
                </div>
                <div id="basechart">
                    <div id="chart2" style="height: 100%; width: 100%;"></div>
                </div>
            </div>
        </div>
    </body>
</html>
