<html>
	<head>
		<title>Pokemon Go</title>
	</head>

	<body>

		<h1>Pokemon Go IV</h1>

        <form method="post" action="{{ url_for("cp") }}" id="pkmnSelect" style="position: relative;">

            <img height="750" width="500" src="http://i.imgur.com/iD9I26T.png" border="0" />

            <div style="position: absolute; left: 160px; top: 370px;">
                <select style="font-size: 25px; height: 45px; width: 200px;" name="pokemonSelect" autofocus>
                    {{pkmnSelect}} 
                </select>
            </div>

            <div style="position: absolute; left: 170px; top: 25px;">
                <input style="font-size: 25px; height: 45px; width: 160px;" type="number" name="aCP" placeholder="CP">
            </div>

            <div style="position: absolute; left: 190px; top: 440px;">
                <input style="width: 125px; height: 25px;" type="number" name="HP" placeholder="HP">
            </div>

            <div style="position: absolute; left: 265px; top: 677px;">
                <input style="height: 35px;" type="number" name="DUST" placeholder="Dust"> 
            </div>

            <div style="position: absolute; left: 0px; top: 0px;">
            </div>

            <input type="submit" onclick="getarc()">
        </form>
	</body>
</html>
