<html>
	<head>
        <link rel="stylesheet" type="text/css" href="http://chriskoh.io/static/style.css">
		<title>Pokemon Go</title>
	</head>

	<body>

        <div id="boxwrapper">

            <div id="box">

                <div id="inputbox">
                    <form method="post" action="{{ url_for("cp") }}" id="pkmnSelect" style="position: relative;">
                        <input list="test" name="nameph" value="Omanyte" placeholder="Name">
                            <datalist id="test">
                                {{pkmndatalist}}
                            </datalist>
                        <input type="number" name="aCP" value="631" placeholder="CP">
                        <input type="number" name="HP" value="50" placeholder="HP">
                        <input type="number" name="DUST" value="2500" placeholder="Dust"> 
                        <input type="submit" >
                    </form>
                </div>
    
            </div>
        </div>
	</body>
</html>
