<html>
	<head>
        <link rel="stylesheet" type="text/css" href="http://chriskoh.io/static/style.css">
		<title>Pokemon Go</title>
	</head>

	<body>

        <h1>Pokemon Go IV</h1>

        <form method="post" action="{{ url_for("cp") }}" id="pkmnSelect" style="position: relative;">


                <input list="test" name="nameph" placeholder="Name">
                    <datalist id="test">
                        {{pkmndatalist}}
                    </datalist>

                <input type="number" name="aCP" placeholder="CP">

                <input type="number" name="HP" placeholder="HP">

                <input type="number" name="DUST" placeholder="Dust"> 

                <br /><br /><input type="submit" ><br />
        </form>

        <hr>
        <h2>Stats</h2>
        <p>Text</p>
        <br />

        <hr>
        <h2>IVs (Initial Values)</h2>
        <p>Text</p>
        <br />

        <hr>
        <h2>CP Calculation</h2>
        <p>Text</p>
        <br />
    
        <hr>
        <h2>HP Calculation</h2>
        <p>Text</p>
        <br />

	</body>
</html>
